# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Temp files
*.swp
*~
#*
.#*
.~lock.*#

# Mac OS X
.DS_Store
__MACOSX

# emacs
*.elc
/.cask
/elpa
/auto-save-list
/.autosave
/.backup
/undohist

# ddskk
ddskk/*
ddskk-*
