# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
wget-log

# Temp files
*.swp
*~
#*
.#*
.~lock.*#

# Mac OS X
.DS_Store
__MACOSX

# emacs
*.elc
/.cask
/elpa
/auto-save-list
/.autosave
/.backup
/.undohist

# ddskk
ddskk/*
ddskk-*

# *scratch*
.scratch*

# ido
ido.last
smex-items

# .el-get
/el-get
network-security.data
/server

# curl
/request
